body {


  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;

  height: 100vh;
  background-image: url("./assets/grass5.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar {
  display: none;
}
