body {
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0.2), black), url("./assets/grass2.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}
